body {
    background-color: aqua;
}

.center-text {
    text-align: center;
}

.turn-red {
    color: brown;
}
<style> 
#borderimg { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 stretch;
}
</style>